In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
plt.style.use('seaborn-bright')

import pickle
from IPython.display import display
%load_ext memory_profiler

In [135]:
df = pd.DataFrame({'sample': ['A','B','B','C','C','C'], 'val': [10,40,30,10,11,12], 'text': [110,140,130,110,111,112], 'num_id':[0,0,1,0,1,2]})
display(df)

df = df.groupby('sample').head(2)
# display(df)

def myf(df):
    output = pd.DataFrame()
    for cname in df.columns.difference(['sample', 'num_id']): # columns we dont need
        for i in range(2):
            output[cname + '_' + str(i)] = df[cname].shift(-i)
    return output.iloc[0]

df.groupby('sample').apply(myf)

   num_id sample  text  val
0       0      A   110   10
1       0      B   140   40
2       1      B   130   30
3       0      C   110   10
4       1      C   111   11
5       2      C   112   12

        text_0  text_1  val_0  val_1
sample
A        110.0     NaN   10.0    NaN
B        140.0   130.0   40.0   30.0
C        110.0   111.0   10.0   11.0

In [129]:
output = pd.DataFrame()
output['fds'] = pd.Series([1,2,3])
output['fds'].shift(-4)

0   NaN
1   NaN
2   NaN
Name: fds, dtype: float64

In [78]:
df = pd.DataFrame({'k': [1,1,2,2,3,3,3], 'size': [10,20,40,30,1,1,10], 'type':[0,0,0,2,0,2,2], 'price': [1.0,2.0,4.0,3.0,1.0,1.1,10]})
display(df)

df.groupby('k').transform('sum')

   k  price  size  type
0  1    1.0    10     0
1  1    2.0    20     0
2  2    4.0    40     0
3  2    3.0    30     2
4  3    1.0     1     0
5  3    1.1     1     2
6  3   10.0    10     2

   price  size  type
0    3.0  30.0   0.0
1    3.0  30.0   0.0
2    7.0  70.0   2.0
3    7.0  70.0   2.0
4   12.1  12.0   4.0
5   12.1  12.0   4.0
6   12.1  12.0   4.0