In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
plt.style.use('seaborn-bright')

import pickle
from IPython.display import display
%load_ext memory_profiler

In [ ]:
# %%time 
# %%memit pass

df = pd.DataFrame({'k': [1,1,2,2,3,3,3], 'v': [10,20,40,30,10,11,12], 'type':[0,0,0,2,0,2,2]})
df.index = df.k
df = df.drop('k',1)

def myf(df):
    temp_df = df.loc[df['type'] == 2]
    if temp_df.empty:
        return df.iloc[0] # [0:1]
    else:
        return temp_df.iloc[0]

df = df.groupby(df.index).apply(myf) 

display(df)

In [ ]:
output = temp_df.iloc[-1]
output['v'] = (temp_df['type']*temp_df['v']).sum() 
output

In [39]:

# custom groupby
df = pd.DataFrame({'k': [1,1,2,2,3,3,3], 'size': [10,20,40,30,1,1,10], 'type':[0,0,0,2,0,2,2], 'price': [1.0,2.0,4.0,3.0,1.0,1.1,10]})
df.index = df.k
df = df.drop('k',1)
display(df)

def myf(df):
    temp_df = df.loc[df['type'] == 2]
    if temp_df.empty:
        return df.iloc[-1]
    else:
        output = temp_df.iloc[-1]
        output['price'] = (df['size'] * df['price']).sum() / df['size'].sum()
        output['size'] = df['size'].sum()
        return output

df = df.groupby(df.index).apply(myf) 
df

   price  size  type
k
1    1.0    10     0
1    2.0    20     0
2    4.0    40     0
2    3.0    30     2
3    1.0     1     0
3    1.1     1     2
3   10.0    10     2

      price  size  type
k
1  2.000000  20.0   0.0
2  3.571429  70.0   2.0
3  8.508333  12.0   2.0

In [37]:
temp_df = df.loc[df['type'] == 2]
temp_df

   price  size  type
k
2    3.0    30     2
3    1.1     1     2
3   10.0    10     2

In [31]:
(df['size'] * df['price']).sum() / df['size'].sum()

3.8333333333333335

In [33]:
df['size'].sum()

60.0