In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline # or notebook
plt.style.use('seaborn-bright')

import pickle
from IPython.display import display

UsageError: unrecognized arguments: # or notebook

In [6]:
tips = sns.load_dataset("tips")
ax = sns.pointplot(x="index", y="total_bill", data=tips)

ValueError: Could not interpret input 'index'

In [7]:
tips.reset_index()

     index  total_bill   tip     sex smoker   day    time  size
0        0       16.99  1.01  Female     No   Sun  Dinner     2
1        1       10.34  1.66    Male     No   Sun  Dinner     3
2        2       21.01  3.50    Male     No   Sun  Dinner     3
3        3       23.68  3.31    Male     No   Sun  Dinner     2
4        4       24.59  3.61  Female     No   Sun  Dinner     4
5        5       25.29  4.71    Male     No   Sun  Dinner     4
6        6        8.77  2.00    Male     No   Sun  Dinner     2
7        7       26.88  3.12    Male     No   Sun  Dinner     4
8        8       15.04  1.96    Male     No   Sun  Dinner     2
9        9       14.78  3.23    Male     No   Sun  Dinner     2
10      10       10.27  1.71    Male     No   Sun  Dinner     2
11      11       35.26  5.00  Female     No   Sun  Dinner     4
12      12       15.42  1.57    Male     No   Sun  Dinner     2
13      13       18.43  3.00    Male     No   Sun  Dinner     4
14      14       14.83  3.02  Female     No   Sun  Dinner     2
15      15       21.58  3.92    Male     No   Sun  Dinner     2
16      16       10.33  1.67  Female     No   Sun  Dinner     3
17      17       16.29  3.71    Male     No   Sun  Dinner     3
18      18       16.97  3.50  Female     No   Sun  Dinner     3
19      19       20.65  3.35    Male     No   Sat  Dinner     3
20      20       17.92  4.08    Male     No   Sat  Dinner     2
21      21       20.29  2.75  Female     No   Sat  Dinner     2
22      22       15.77  2.23  Female     No   Sat  Dinner     2
23      23       39.42  7.58    Male     No   Sat  Dinner     4
24      24       19.82  3.18    Male     No   Sat  Dinner     2
25      25       17.81  2.34    Male     No   Sat  Dinner     4
26      26       13.37  2.00    Male     No   Sat  Dinner     2
27      27       12.69  2.00    Male     No   Sat  Dinner     2
28      28       21.70  4.30    Male     No   Sat  Dinner     2
29      29       19.65  3.00  Female     No   Sat  Dinner     2
..     ...         ...   ...     ...    ...   ...     ...   ...
214    214       28.17  6.50  Female    Yes   Sat  Dinner     3
215    215       12.90  1.10  Female    Yes   Sat  Dinner     2
216    216       28.15  3.00    Male    Yes   Sat  Dinner     5
217    217       11.59  1.50    Male    Yes   Sat  Dinner     2
218    218        7.74  1.44    Male    Yes   Sat  Dinner     2
219    219       30.14  3.09  Female    Yes   Sat  Dinner     4
220    220       12.16  2.20    Male    Yes   Fri   Lunch     2
221    221       13.42  3.48  Female    Yes   Fri   Lunch     2
222    222        8.58  1.92    Male    Yes   Fri   Lunch     1
223    223       15.98  3.00  Female     No   Fri   Lunch     3
224    224       13.42  1.58    Male    Yes   Fri   Lunch     2
225    225       16.27  2.50  Female    Yes   Fri   Lunch     2
226    226       10.09  2.00  Female    Yes   Fri   Lunch     2
227    227       20.45  3.00    Male     No   Sat  Dinner     4
228    228       13.28  2.72    Male     No   Sat  Dinner     2
229    229       22.12  2.88  Female    Yes   Sat  Dinner     2
230    230       24.01  2.00    Male    Yes   Sat  Dinner     4
231    231       15.69  3.00    Male    Yes   Sat  Dinner     3
232    232       11.61  3.39    Male     No   Sat  Dinner     2
233    233       10.77  1.47    Male     No   Sat  Dinner     2
234    234       15.53  3.00    Male    Yes   Sat  Dinner     2
235    235       10.07  1.25    Male     No   Sat  Dinner     2
236    236       12.60  1.00    Male    Yes   Sat  Dinner     2
237    237       32.83  1.17    Male    Yes   Sat  Dinner     2
238    238       35.83  4.67  Female     No   Sat  Dinner     3
239    239       29.03  5.92    Male     No   Sat  Dinner     3
240    240       27.18  2.00  Female    Yes   Sat  Dinner     2
241    241       22.67  2.00    Male    Yes   Sat  Dinner     2
242    242       17.82  1.75    Male     No   Sat  Dinner     2
243    243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 8 columns]

In [33]:
def whereami(df, ind_str, num_to_view=5):
    if not isinstance(df, pd.DataFrame):
        raise TypeError('must be pandas.core.frame.DataFrame')
    try:
        location = df.index.get_loc(str(ind_str))
    except KeyError:
         location = df.index.get_loc(ind_str)
            
    try: 
        new_location = slice(location.start-num_to_view, location.stop+num_to_view+1, location.step)
    except AttributeError:
        new_location = slice(location-num_to_view, location+num_to_view+1)
    return df[new_location]

tips = sns.load_dataset("tips")
whereami(tips,20)

    total_bill   tip     sex smoker  day    time  size
15       21.58  3.92    Male     No  Sun  Dinner     2
16       10.33  1.67  Female     No  Sun  Dinner     3
17       16.29  3.71    Male     No  Sun  Dinner     3
18       16.97  3.50  Female     No  Sun  Dinner     3
19       20.65  3.35    Male     No  Sat  Dinner     3
20       17.92  4.08    Male     No  Sat  Dinner     2
21       20.29  2.75  Female     No  Sat  Dinner     2
22       15.77  2.23  Female     No  Sat  Dinner     2
23       39.42  7.58    Male     No  Sat  Dinner     4
24       19.82  3.18    Male     No  Sat  Dinner     2
25       17.81  2.34    Male     No  Sat  Dinner     4

In [28]:
tips.index.get_loc(20)

20