In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

plt.style.use('seaborn-bright')

import pickle
from IPython.display import display
%load_ext memory_profiler
%load_ext line_profiler

In [115]:
 df = pd.DataFrame(np.ones(50).reshape(10,5), 
                      index=pd.date_range('1/1/2016', periods=10, freq='H' ),
                      columns=list('ABCDE'))
df['size']=0
df['size'] = pd.Series([0,0,0,0,200,0,0,2000,0,0], index=df.index)
df.loc[:,"size_csum"] = df['size'].cumsum()

start = pd.to_datetime('1/1/1900')
df.loc[:,"size_astime"] = start + pd.to_timedelta(df.size_csum,'ms')
df.index = df.size_astime

display(df)
print(df.E.resample('1000ms',label='right').sum().interpolate())

# timestamp_col = df.timestamp.resample('30min',label='right').last()

# pd.to_datetime(timestamp_col).dropna()

# after going around the circle, the workaround has to be applying an extra operation:
# `pd.to_datetime(timestamp_col).dropna()`
# df

                           A    B    C    D    E  size  size_csum             size_astime
size_astime
1900-01-01 00:00:00.000  1.0  1.0  1.0  1.0  1.0     0          0 1900-01-01 00:00:00.000
1900-01-01 00:00:00.000  1.0  1.0  1.0  1.0  1.0     0          0 1900-01-01 00:00:00.000
1900-01-01 00:00:00.000  1.0  1.0  1.0  1.0  1.0     0          0 1900-01-01 00:00:00.000
1900-01-01 00:00:00.000  1.0  1.0  1.0  1.0  1.0     0          0 1900-01-01 00:00:00.000
1900-01-01 00:00:00.200  1.0  1.0  1.0  1.0  1.0   200        200 1900-01-01 00:00:00.200
1900-01-01 00:00:00.200  1.0  1.0  1.0  1.0  1.0     0        200 1900-01-01 00:00:00.200
1900-01-01 00:00:00.200  1.0  1.0  1.0  1.0  1.0     0        200 1900-01-01 00:00:00.200
1900-01-01 00:00:02.200  1.0  1.0  1.0  1.0  1.0  2000       2200 1900-01-01 00:00:02.200
1900-01-01 00:00:02.200  1.0  1.0  1.0  1.0  1.0     0       2200 1900-01-01 00:00:02.200
1900-01-01 00:00:02.200  1.0  1.0  1.0  1.0  1.0     0       2200 1900-01-01 00:00:02.200

size_astime
1900-01-01 00:00:01    7.0
1900-01-01 00:00:02    5.0
1900-01-01 00:00:03    3.0
Freq: 1000L, Name: E, dtype: float64

In [138]:
# searching row numbers of a index. NOTE: doesnt apply to unsorted column values
df = pd.DataFrame({'k': [1,1,2,2,3,3,3], 'v': [10,20,40,30,10,20,12], 'type':[0,0,0,2,0,2,2]})
df.index = df.k
df = df.drop('k',1)

display(df)

print df.index.searchsorted(1, side='left')
print df.index.searchsorted(3, side='right')

# df.v.searchsorted(20, side='right') # don't do this, gives false answers

   type   v
k
1     0  10
1     0  20
2     0  40
2     2  30
3     0  10
3     2  20
3     2  12

0
7

2

In [129]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

# window_stop_row = df[df.index < '2000-01-04']
# window_stop_row.name
# window_stop_row




#

                   A         B         C         D
2000-01-01 -1.578609  0.270466  1.161986  0.285988
2000-01-02 -0.660499  0.882419  0.691783 -1.110207
2000-01-03  0.159741 -0.590595 -0.613929  0.377363
2000-01-04  0.038404 -1.176992  0.215335  0.577046
2000-01-05 -1.106290 -1.003868 -2.083147 -0.237975
2000-01-06 -0.279508  0.773363 -0.131539 -0.695335
2000-01-07  0.135862 -0.306588 -0.809509  0.419789
2000-01-08 -0.027993 -0.443139 -0.144811  0.691905