In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

plt.style.use('seaborn-bright')

import pickle
from IPython.display import display
%load_ext memory_profiler
%load_ext line_profiler

In [46]:
# flattening features in time (rows) into feature_time (column)
df = pd.DataFrame({'sample': ['A','B','B','C','C','C'], 'val': [10,40,30,10,11,12], 'text': [110,140,130,110,111,112], 'time_tick_num':[0,0,1,0,1,2]})
#     display(df)

def myf(df):
    df = df.head(2)
    output = pd.DataFrame()
    for cname in df.columns.difference(['sample', 'time_tick_num']): # columns we dont need
        for i in range(2):
            output[cname + '_' + str(i)] = df[cname].shift(-i)
    return output.iloc[0]

def profile_this():
    df_grouped = df.groupby('sample')
    output = df_grouped.apply(myf)


    # alternative, approximately, may be faster
    for cname in df.columns.difference(['sample', 'time_tick_num']):
        for i in range(1,2):
            df[cname + '_' + str(i)] = df_grouped[cname].shift(-i)

    output3 = df_grouped.first()
    
%lprun -f profile_this -f myf profile_this()  # profile and call the function

In [39]:
df = pd.DataFrame({'sample': ['A','B','B','C','C','C'], 'val': [10,40,30,10,11,12], 'text': [110,140,130,110,111,112], 'time_tick_num':[0,0,1,0,1,2]})

In [43]:
output=df
output

  sample  text  time_tick_num  val
0      A   110              0   10
1      B   140              0   40
2      B   130              1   30
3      C   110              0   10
4      C   111              1   11
5      C   112              2   12